@media (max-width: 1200px) {
.Edit_btn {
    padding: 10px 15px;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 0px;
}
.Back_btn {
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
}
.ProductImg{ width:100%;}
}

@media (max-width: 768px) {

}

@media (max-width: 767px) {
.banner_Text h1 {
    font-size: 24px;
}
.Submenu {
    width: 100%;
    position: relative;
}
.Save_btn {
    font-size: 13px;
}
.products_edit {
    padding: 40px 12px 140px !important;
}
.Inner-Container {
    width: 100%;
}
.ProductImg {
    width: 100%;
}
.Payment_Wrapper {
    margin-top: 25px;
}
.Payment_Wrapper_inner label {
    font-size: 14px;
    margin-top: 15px;
}
.matop {
    margin-top: 0px;
}
.Payment_Wrapper h1 {
    font-size: 14px;
}
.Fon_siz {
    font-size: 24px;
}
.year {
    width: 100%;
	padding: 12px 12px;
}
.Inner-Container h4 {
    font-size: 14px;
}
.nil {
    margin-left: 0px;
    width: 100%;
}
.Banner_Section {
    background: url(../Images/banner.jpg) center center;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background: #0fbbe9;
    padding: 20px 0px;
}
.banner_Text {
    padding-top: 25px;
}
.Btn {
    font-size: 14px;
    padding: 10px 15px;
}


}

@media (max-width: 640px) {




}
@media (max-width: 600px) {

.Btn {
    font-size: 14px;
    padding: 10px 15px;
}
.banner_Text p {
    font-size: 14px;
}

}
@media (max-width: 480px) {

.btn_blue1 {
    margin: 20px 0px 0px 10px;
}
.banner_Text h1 {
    font-size: 24px;
}
.payment_details_Section .col-xs-4{ width:100%;}
.Plan_show .col-xs-3{ width:100%;}
.Pricing_Wrapper .col-xs-4{ width:100%;}
}

@media (max-width: 479px) {

.Product_show .col-xs-6 {
    width: 100%;
}
footer .col-xs-3{ width:100%; }
footer h3 {
    margin-top: 20px;
}

}

@media (max-width: 360px) {



}